body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f5f5f5;
  color: #fff;
}

/* Cabeçalho */
header {
  background-color: #001f70;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
}

.logo {
  display: flex;
  align-items: center;
  height: 20px;
}

.logo img {
  width: 80px;
  margin-right: 1px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

.search-area {
  display: flex;
}

.search-area input {
  padding: 6px;
  border: none;
  border-radius: 4px 0 0 4px;
}

.search-area button {
  background-color: #0052cc;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.login-icon img {
  height: 38px;
  width: 38px;
  border-radius: 50%;
  background: white;
  padding: 5px;
  transition: 0.3s;
  background-color: #fff;
}

.login-icon img:hover {
  transform: scale(1.1);
  background: #0077b6;
}


.banner {
  position: relative;
  width: 100vw; 
  height: 80vh; 
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.banner-images img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  z-index: -1; 
}

.carrosel img {
  height: 200px;
  margin-top: 0px;
}

.meio {
  position: absolute;
  left: 625px;
}

.esquerda {
position: relative;
}

.direita {
   position: static;
}

/* Botões (setas) */
.seta {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.4);
  border: none;
  color: white;
  font-size: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.seta:hover {
  background: rgba(0,0,0,0.7);
}

/* Esquerda */
.seta-esquerda {
  left: 300px;
  top: 175px; /* ajuste como quiser */
}

/* Direita */
.seta-direita {
  right: 300px;
  top: 175px; /* ajuste como quiser */
}

.banner h2 {
  font-size: 2rem;
  padding: 10px 20px;
  margin-top: 100px;
  color: aliceblue;
  text-align: center;
  opacity: 0.9;
}


/* Promoções */
.promocoes {
  background-color: #fff;
  color: #001f70;
  text-align: center;
  padding: 50px 0;
}

.promocoes h2 {
  font-size: 26px;
  margin-bottom: 30px;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  background-color: #001f70;
  border-radius: 10px;
  width: 260px;
  color: #fff;
  padding-bottom: 20px;
  box-shadow: 0 4px 10px #00000040;
}

.card img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.card h3 {
  margin: 10px 0 5px;
}

.card .preco {
  color: #ffd700;
}

.card button {
  background-color: #ffd700;
  border: none;
  padding: 8px 16px;
  color: #001f70;
  border-radius: 5px;
  cursor: pointer;
}


.cassino {
  background-color: #001f70;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 10%;
  gap: 30px;
}

.cassino img {
  width: 40%;
  border-radius: 10px;
}

.cassino .texto {
  width: 50%;
}

/* Átrio */
.atrio {
  background-color: #0a1a66;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 10%;
  gap: 30px;
}

.atrio img {
  width: 40%;
  border-radius: 10px;
}

.atrio .texto {
  width: 50%;
}


footer {
  background-color: #fff;
  text-align: center;
  padding: 40px 20px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 20px;
  color: #000;
}

footer h4 {
  margin-bottom: 10px;
  color: #000;
}

.footer-bottom {
  font-size: 14px;
  color: #000;
}
